{% load static %}

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://fonts.googleapis.com/css?family=Suez+One&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script defer src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script defer src="../static/js/api.js"></script>
        <title>Forever Homes</title>
    </head>
    <body>
        <h1><a href="http://localhost:8000">Forever Homes</a></h1>
        <nav>
            {% if user.is_authenticated %}
                Welcome {{ user.username }}
                <a href="/users/mainfeed">Pet Feed</a>
            {% else %}
                <a href="/users/mainfeed">Pet Feed</a>
                {% comment %} <a href="/accounts/register">SignUp</a>
                <a href="/accounts/login">Login</a> {% endcomment %}
            {% endif %}
        </nav>

        {% block content %}
        {% endblock %}
    </body>
</html>