{% load static %}

<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="twitter:site" content="@github">
		<meta name="twitter:card" content="summary">
		<meta name="twitter:title" content="Forever Homes - Adopt a Pet">
		<meta name="twitter:description" content="Easily search through adoptable pet listings on our pet feed, and give one of them a Forever Home. This app utilizes the Petfinder API, Bootstrap, Django, SQL & Python">
		<meta property='og:site_name' content='Forever Homes'/>
		<meta property='og:title' content='Forever Homes'/>
		<meta property='og:image' content='https://raw.githubusercontent.com/JasonToups/forever-homes/master/design/logo-foreverHomes-square-vertical.png'/>
		<meta property='og:description' content='Easily search through adoptable pet listings on our pet feed, and give one of them a Forever Home. This app utilizes the Petfinder API, Bootstrap, Django, SQL & Python.'/>
		<meta property='og:url' content='https://forever-homes.herokuapp.com/'/>
		<link rel="icon" href="https://raw.githubusercontent.com/JasonToups/forever-homes/master/design/heart-favorite-filled-white.png">
		<link href="https://fonts.googleapis.com/css?family=Suez+One&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Overpass&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{% static 'css/nav.css' %}">
		<link rel="stylesheet" href="{% static 'css/feed.css' %}">
		<link rel="stylesheet" href="{% static 'css/form.css' %}">
		<link rel="stylesheet" href="{% static 'css/welcome.css' %}">
		<script defer src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script defer src="{% static 'js/feedsearch.js' %}"></script>
		<script defer src="{% static 'js/api.js' %}"></script>
		<title>Forever Homes</title>
	</head>
	<body>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- Top Navigation Menu -->
	<div class="topnav" id="myTopnav">
		<h1>
			<img class="logo" src="{% static "images/logo-white.svg" %}">
			<a class="header active" href="/">Forever Homes</a>
		</h1>
		<!-- Navigation links (hidden by default) -->
		<div id="myLinks">
			{% if user.is_authenticated %}
				<a class="menu" href="/">Pet Feed</a>
				<a class="menu" href="/users/feedsearch">Search</a>
				<a class="menu" id="favorites" href="#">Favorites</a>
				<a class="menu" href="/users/profile">My Profile</a>
				<a class="menu" href="{% url 'logout' %}">Logout</a>
				<a class="menu" href="/about">About</a>
			{% else %}
				<a class="menu" href="{% url 'login' %}">Login</a>
				<a class="menu" href="/">Pet Feed</a>
				<a class="menu" href="/users/feedsearch">Search</a>
				<a class="menu" id="favorites" href="#">Favorites</a>
				<a class="menu" href="/accounts/register">Register</a>
				<a class="menu" href="/about">About</a>
			{% endif %}
		</div>
		<!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
		<a href="javascript:void(0);" class="icon" onclick="hamburgerMenu()">
			<i class="fa fa-bars"></i>
		</a>
	</div>
	<!-- Petfinder Branding-->
	<div id="petfinder">
		<p>Powered by</p>
		<a id="petfinder-link" href="http://petfinder.com/">Petfinder</a>
	</div>
		{% block content %}
		{% endblock %}
	</body>
</html>