{% extends 'base.html' %}


{% load static %}


{% block content %}

        <nav>


          
                <h1>{{ user.username }}, What would you like to change?</h1>


                        <!-- Edit profile -->
                        <a href="/users/editprofile">Edit my profile</a>
                        
                        
                        <!-- Change my Password? -->
                        <a href="/users/changepassword">Change my password</a>



        </nav>



{% endblock %}
