{% extends 'base.html' %}


{% load static %}


{% block content %}

        <nav>
                
                <h1>Our earliest ancestors were of the species: H. grabadoptapet. Find a chill animal friend! </h1>


        <!-- Make my username and favorite pet in the create_profile  -->

        <a href="/accounts/register/">Move to join!</a> 

        <a href="/accounts/login">Sign In!</a> 

        </nav> 
            
                <h1><img class='welcome' src="{% static "images/erda-estremera-D1wiHCovGJ0-unsplash.jpg" %}"></h1>

       



{% endblock %}
