
.fields {
  margin-left: 15px;
}

.container h2 {
  margin-left: 10px;
  font-size: 2em;
}
.container p {
  margin-bottom: 5px;
}

.container ul {
  font-size: .85em;
  padding-left: 30px;
}

#search {
  padding-bottom: 15px;
  text-align: center;
}

#search-headline {
  display: inline-block
}

.checked-boxes {
  padding-left: 40px;
}

label {
  font-size: 17px;
}

#id_username {
  width: 95%;
  font-size: 15px;
}

#id_password {
  width: 95%;
  font-size: 15px;
}

.helptext{
  font-size: .85em;
  margin-left: 15px;
}

#id_password1 {
  width: 95%;
  font-size: 15px;
}
#id_password2 {
  width: 95%;
  font-size: 15px;
}

/* button */
.submit {
  font-family: 'Suez One', serif;
  font-size: 20;
  color: var(--text-primary-color);
  background-color: var(--button-color-active);
  border-radius: 20px;
  padding: 5px 15px;
  /* margin-top: 5px;
  margin-bottom: 5px; */
}