body {
  background-color: lightgray;
  font-family: 'Suez One', serif;
}

.pet-picture {
  width: 450px;
  border-radius: 20px 20px 0px 0px;
}

nav {
  padding-bottom: 10px;
}

.logo {
  width: 40px;
}

h1 {
  margin-bottom: 0px;
}

.header {
  text-decoration: none;
}

h2 {
  font-size: 40;
  font-family: 'Suez One', serif;
  margin: 0;
  margin-bottom: 5px;
}

#list {
  /* margin: auto;
  width: 50%; */
}

/* TODO create an *active* version of this to eliminate the border radius when the post detail view is active */
.post-content{
  background-color: white;
  width: 450px;
  border-radius: 0px 0px 20px 20px;
  margin-bottom: 15px;
}

.post-name {
  padding-left: 10px;
  padding-right: 10px;
}
/* TODO create an *hidden* version of this by default */
/* TODO create an *active* version of this by to be used by the click event on the post. */
.post-detail {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  overflow: hidden;
  height: 0;
  /* transition: transform linear 3s;
  transform: translateY(-100%); */
}

.show {
  /* transform: translateY(max-content); */
  height: max-content;
}

.button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.adopt {
  border-radius: 20px;
  padding: 10px 10px;
}